/* styles.css */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #00040f;
}

::-webkit-scrollbar-thumb {
    background: #00ffcc; /* Neon Green */
    border-radius: 10px;
    box-shadow: 0 0 10px #00ffcc;
}

::-webkit-scrollbar-thumb:hover {
    background: #00ffaa;
}
